<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{title}}</title>
  </head>
  <body>
    <ol>
      <h1>{{title}}</h1>
      {{#each animals}}
        <li>{{name}}</li>
      {{/each}}
    </ol>
  </body>
</html>
